/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap'); */
@import "tailwindcss";

/* @theme {
    --font-sans: 'Outfit', sans-serif;
} */

/* body {
    font-family: 'Outfit', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */
/* 
html {
    scroll-behavior: smooth;
} */